/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
/* pan to current location button created in App.js */
.custom-map-control-button {
    position: fixed;
    right: 10px;
    bottom: 190px;
    background: white;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    border-style: hidden;
	transition: 0.075s ease;
	font-weight: bold;
}

.custom-map-control-button:hover {
    transform: scale(1.1);
}

#searchBox:hover {
    background: #425c5a;
}

  /*---------------------INTRO PAGE---------------------*/
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#a2bfbd, #425c5a);
    opacity: 100%;
}
.screen {
    color: #323232;
    font-family: Poppins;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myBtn {
    font-family: Poppins;
    font-size: 18px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button1 {
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.3s ease-out;
}

.myBtn:hover {
    color: #101010;
    cursor: crosshair;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.3s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

.landing-container{
    width: 100%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.appName {
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;  
}

.logo {
    width: 250px; /*the image width*/
    height: 250px; /*the image height*/
}

.gm-style .gm-style-iw-c{
    padding-right: 0px;
    padding-bottom: 0px;
    max-width: 648px;
    max-height: 483px;
    min-width: 0px;
    background-color: #A2BFBD;
    border: 2px solid grey;
    
}

div .gm-style-iw-d{
    overflow: hidden !important;

}