
 body {
	font-family: "Lato", sans-serif;
}

/*  Open nav */
.openSideNav {
	font-size:30px;
	cursor:pointer;
	transition:0.25s;
	margin-left: 8px;
}

/* outer side nav */
.sidenav {
	height: 130px;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-image:linear-gradient(#425c5a, #7d9d9b);
	overflow-x: hidden;
	transition: 0.25s;
	padding-top: 60px;
	border-radius: 0 2pc 2pc 2pc;
	font-family: "Lato", sans-serif;
}

.sidenav a {
	padding: 0px 0px 8px 32px;
	text-decoration: none;
	font-size: 30px;
	color: #242424;
	display: block;
	transition: 0.25s;
}

.sidenav a:hover {
	color: #313131;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
}

/* inner sideNav */
.innerSidenav {
	height: 300px;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-image: linear-gradient(#425c5a, #7d9d9b);
	border-radius: 0 2pc 2pc 2pc;
	overflow-x: hidden;
	transition: 0.25s;
	padding-top: 60px;
}

.innerSidenav searchBoxLabel {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 35px;
	color: #818181;
	display: block;
	transition: 0.25s;
}

.innerSidenav h1 {
	padding: 8px 8px 0px 32px;
	text-decoration: none;
	font-size: 22px;
	font-weight: 200;
	color: #242424;
	display: block;
	transition: 0.25s;
}

.innerSidenav h1:hover {
	color: #313131;
}

.innerSidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
}

.searchBox {
	font-size: 20px;
	margin-left: 25px;
	width: 234px;
	height: 30px;
	background: #a2bfbd;
}

.directions-ico {
	width: 40px;
	height: 40px;
	margin-bottom:-15px;
	padding-left: 10px;
}
.directions-ico-valign {
	margin-bottom: -65px;
	cursor: pointer;
}

/* Travel mode bar*/
/* Travel mode container */
.travel-modes {
	margin-bottom: 25px;
	background: #a2bfbd;
	border-radius: 30px;
	width: 246px;
}

/* The container */
.travel-mode-container {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default button */
.travel-mode-container button {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Style the travel mode image */
.image-travel-mode {
	width: 35px;
	height: 35px;
	margin: 8px 8px 8px 8px;
}

.travel-mode-image-button {
	margin-top:3px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.side-panel-text {
	font-size: 5px;
}

input[type="text"]{
	padding-left: 7px;
	outline: none;
	border: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}