@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header{
    width: 100%;
    max-height: 600px;
    z-index: -1;
    position: relative;
}

.header img{
    opacity: 0.6;
    max-height: 600px;
    width: 100%;
}

.place-name{
    font-family: Old Standard TT;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    padding: 200px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-block{
    background-color: rgba(162, 191, 189, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    margin: auto;
    width: 50%;
    margin-top: -40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    z-index: 1;
}

.menu-block .navbar-nav{
    padding: 15px 10px;
}

.menu-block ul{
    list-style-type: none;
    padding: 30px 25px;
    text-align: center;
}

.menu-block ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-block ul li a{
    color: black;
    text-decoration: none;
}
 
#slider{
    overflow: hidden;
    max-width: 800px;
    margin: 20px auto;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    height: 400px;
}
 
@keyframes slider {
     0% {
         left: 0;
     }
     20% {
         left: 0;
     }
     25% {
         left: -100%;
     }
     45% {
         left: -100%;
     }
     50% {
         left: -200%;
     }
     70% {
         left: -200%;
     }
     75% {
         left: -300%;
     }
     95% {
         left: -300%;
     }
     100% {
         left: -400%;
     }
}

.history-content{
     background-color: #a2bfbd;
     max-width: 1000px;
     margin: 0 auto;
 }

.history-content h2{
    text-align: right;
    padding: 40px 50px 10px 10px;
}

.history-content p{
    padding: 10px 50px 40px 50px;
    text-align: justify;
}

.services-container{
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 10px;
}

.content img{
    max-width: 400px;
    z-index: -1;
    position: relative;
}

.content span{
    align-items:center;
    font-family: Bebas Neue;
    padding-left: 50px;
}

.services-container p{
    font-size: 16px;
    display: block;
}

.right-title{
    align-items:center;
    font-family: Bebas Neue;
    padding-right: 50px;
}

.triangle-right {
    margin-top: -60px;
    margin-left: -20px;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #a2bfbd;
    border-bottom: 50px solid transparent;
    z-index: 1;
}

.content-right{
    float: right;
    width: 100%;
}

.content-right .content{
    float: right;
}

.triangle-left {
    margin-top: 200px;
    margin-left: -80px;
    float: right;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #a2bfbd;
	border-bottom: 50px solid transparent;
}

.services-button{
    border: 1px solid #A2BFBD;
    padding: 15px 100px;
    background-color: #425C5A;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 10px;
    font-size: 26px;
    display: block;
    margin-right:auto;
    margin-left:auto;
    max-width: 400px;
    text-align: center;
    
}

.services-button:hover{
    color: white;
    text-decoration: none;
}

.first-footer-block{
    margin-top: 20px;
    background-color: #a2bfbd;
    display: flex;
}

.team{
    padding-left: 20px;
    text-align: right;
    margin: auto;
}

.team h6{
    font: 700;
    font-size: 24px;
    padding-top: 48px;
}

.team ul{
    font-size: 16px;
    list-style-type: none;
    padding: 0px;
}

.team ul li a{
    color: grey
}

.follow-us{
    padding-top: 48px;
    padding-left: 50px;
    margin: auto;
}

.follow-us h6{
    font-size: 24px;
}

.follow-us img{
    width: 40px;
    height: auto;
}

.second-footer-block{
    background-color: #425C5A;
    text-align: center;
    height: 40px;
}

@media only screen and (max-width: 800px) {
  .place-name{
    font-size: 60px;
    padding: 100px;
  }
}


