@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.header-image{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('orheiul-vechi.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.logo{
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(162, 191, 189, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.place-name{
    font-family: Old Standard TT;
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
    padding: 200px;
    text-transform: uppercase;
}

.menu-block{
    background-color: rgba(162, 191, 189, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    margin: auto;
    width: 50%;
    margin-top: -40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.menu-block .navbar-nav{
    padding: 15px 10px;
}

.menu-block ul{
    list-style-type: none;
    padding: 30px 25px;
    text-align: center;
}

.menu-block ul li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-block ul li a{
    color: black;
    text-decoration: none;
}
 
#slider{
    overflow: hidden;
    max-width: 800px;
    margin: 20px auto;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    height: 400px;
}
 
@keyframes slider {
     0% {
         left: 0;
     }
     20% {
         left: 0;
     }
     25% {
         left: -100%;
     }
     45% {
         left: -100%;
     }
     50% {
         left: -200%;
     }
     70% {
         left: -200%;
     }
     75% {
         left: -300%;
     }
     95% {
         left: -300%;
     }
     100% {
         left: -400%;
     }
}

.history-content{
     background-color: #a2bfbd;
     max-width: 1000px;
     margin: 0 auto;
 }

.history-content h2{
    text-align: right;
    padding: 40px 50px 10px 10px;
}

.history-content p{
    padding: 10px 50px 40px 50px;
    text-align: justify;
}

.services h2{
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    padding: 20px 10px;
}

.services-block{
    margin-bottom: 30px;
    background-color: #c4c4c4;
}

.services img{
    width: 100%;
}

.services-block h3{
    padding: 20px 10px;
}

.services-block p{
   text-align: justify;
   padding-left: 10px;
   padding-bottom: 20px;
   padding-right: 10px;
}

.services-button{
    border: 1px solid #A2BFBD;
    padding: 15px 100px;
    background-color: #425C5A;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 10px;
    font-size: 26px;
    display: block;
    margin-right:auto;
    margin-left:auto;
    max-width: 400px;
    text-align: center;
}

.first-footer-block{
    background-color: #a2bfbd;
    display: flex;
}

.team{
    padding-left: 20px;
    text-align: right;
    margin: auto;
}

.team h6{
    font: 700;
    font-size: 24px;
    padding-top: 48px;
}

.team ul{
    font-size: 16px;
    list-style-type: none;
    padding: 0px;
}

.team ul li a{
    color: grey
}

.follow-us{
    padding-top: 48px;
    padding-left: 50px;
    margin: auto;
}

.follow-us a img{
  width: 50px;
  height: auto;
  padding: 10px;
}

.follow-us h6{
    font-size: 24px;
}

.second-footer-block{
    background-color: #425C5A;
    text-align: center;
    height: 40px;
}

@media only screen and (max-width: 800px) {
  .place-name{
    font-size: 60px;
    padding: 100px;
  }
}


