@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.container{
  max-width: 400px;
  height: 220px;
  background-color: #A2BFBD;
  
}

.container h1{
  font-size: 18px;
  font-family: Old Standard TT;
  padding: 5px;
  padding-bottom: 0px;
}

.container img{
  max-width: 200px;
  height: auto;
  float: left;
  padding: 5px;
}

.container p{
  font-size: 14px;
  padding: 5px;
  margin: 0px;
}

.container small{
  padding: 5px;
  color: grey;
  display: block;
  padding-bottom: 15px;
}

.container a{
  padding: 10px 15px 10px 15px;
  background-color: #425C5A;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

.container a{
  padding: 10px 15px 10px 15px;
  text-align: right;
}